{% extends 'base.html' %} 
{% block body %}
{% load static %}
    <div>
        <h2>Employee Details</h2><br>
    </div>
    <div>
        <table style="border: 1px solid black">
            <tr><td>Name :</td><td>{{ employee.name }}</td></tr>
            <tr><td>Age :</td><td>{{ employee.age }}</td></tr>
            <tr><td>Email Address :</td><td>{{ employee.email_address }}</td></tr>
            <tr><td>Project :</td><td>{{ employee.project_title }}</td></tr>
            <tr><td>Job type :</td><td>{{ employee.job_type }}</td></tr>
        </table>
    </div>
{% endblock %}