{% extends 'base.html' %} 
{% block body %}
{% load static %}
<div class="middle">
    <h2 class="h22" style="color:#382039; font-size:30px; font-family:'Acme';">About Site</h2>
    <div style="font-family:'Chivo';" class="container-fluid">
        <p>
            <img class="about" src="{% static 'media/images/Building-Efficiency-Field-Service-Software-for-Construction-Industry-ss-blog.png' %}">
            We don't have a centralized system which contains all the information
            about how the money invested by the Government of India is being utilized and the progress of each of those projects. So we are unable to find how much money is used and wasted in the government projects. The delay in finishing those projects
            or the wastage of money can be due to the unavailability of a common portal for the employees and the employer to search for the jobs available at that point of time for a particular project. So the employees end up in unemployment despite
            possessing the skills required for the job.</p>
        <p>
            Just by asking a query people are able to know how much money is used and how much it is wasted. They can know where they can get jobs in different sites of construction field. If the user is willing to know how many workers are required? The system needs
            to determine the no of workers for the required years based on pre determined budget.
        </p>
    </div>
    <hr>

    <br>
    <h2 style="color:#382039; font-size:30px; font-family:'Acme';">Predictors</h2>
    <section id="features">
        <div class="row">
            <div class="feature-box col-lg-4">
                <i class="fas fa-rupee-sign fa-4x"></i>
                <p>Facing problem with predicting the budget of your project ?<br>
                    <a href="prediction/budget"><input type="button" class="button" value="Budget predictor"></a>
                </p>
            </div>
            <div class="feature-box col-lg-4">
                <i class="far fa-clock fa-4x"></i>
                <p>Facing problem with predicting the completing time of your project ?<br>
                    <a href="prediction/time"><input type="button" class="button" value="Time predictor"></a>
                </p>
            </div>
            <div class="feature-box col-lg-4">
                <i class="fas fa-users fa-4x"></i>
                <p>Facing problem with predicting the workforce needed for your project? <br>
                    <a href="prediction/workforce"><input type="button" class="button" value="Workforce predictor"></a>
                </p>
            </div>
        </div>
    </section>
    <hr><br>
    <div class="pd">
        <img class="projpic" src="{% static 'media/icon/1087902.svg' %}"><br><br>
        <h2>Project details</h2><br>
        <p>Want to know about any completed or ongoing government project details?</p>
        <a href="project/"><input type="button" class="button" value="Projects"></a>
        </p>
    </div>
    <hr><br>
    <div class="job">
        <img class="jobpic" src="{% static 'media/icon/942799.svg' %}"><br><br>
        <h2>Job Portal</h2>
        <p>Want to apply for vacant jobs in various fields of construction sites ?</p>
        <p>Apply HERE !!</p>
        </p>
        
            <a href="employment/apply/"><input type="button" class="button" value="Job portal"></a>
            </p>
    </div>
    <hr><br>
    <div class="contract">
        
        <img class="contractimg" src="{% static 'media/icon/1283342.svg' %}"><br><br>
        <h2>Contracts</h2><br>
        <p>Proposing budget for various contracts and hire skilled and non skilled employees</p>
        <a href="contractor/"><input type="button" class="button1" value="Login"></a>
        </p>
    </div>
</div>
<div class="bottom-container">
    <!--<a class="footer-link" href="https://www.linkedin.com/">LinkedIn</a>
        <a class="footer-link" href="https://twitter.com/">Twitter</a>
        <a class="footer-link" href="https://www.facebook.com/">Facebook</a><br><br>-->
    <p class="new">&copy; 2019 Skill India</p>
</div>
{% endblock %}